<div class="about-section">
  <h1>About Us</h1>
  <p>
    We are a driven, agile and lean team of like minded rock star developers who
    want to make your summoning experience terrible
  </p>
  <p>
    Please feel free to not contact me with bugs...if you think its a bug, its
    probably a feature
  </p>
</div>

<h2 style="text-align: center;">Our Team</h2>
<div class="row">
  <div class="column" style="max-width: 600px;">
    <div class="card" style="height: 50%; width: 70%;">
      <img src="/assets/jack.jpg" alt="Jane" style="height: 100%;" />
      <div class="container">
        <h2>Jack Freeman</h2>
        <p class="title">CEO & Founder</p>
        <p>Know how and when to 'holla for a dollar'</p>
        <p>jack.william.freeman@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column" style="max-width: 600px;">
    <div class="card" style="height: 50%; width: 70%;">
      <img src="/assets/jack.jpg" alt="Jane" style="height: 100%;" />
      <div class="container">
        <h2>Jack Freeman</h2>
        <p class="title">Director of Memes</p>
        <p>Only the dankest for us and you</p>
        <p>jack.william.freeman@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column" style="max-width: 600px;">
    <div class="card" style="height: 50%; width: 70%;">
      <img src="/assets/jack.jpg" alt="Jane" style="height: 100%;" />
      <div class="container">
        <h2>Jack Freeman</h2>
        <p class="title">Assistant Director to the Head Shaman</p>
        <p>Has seen things...</p>
        <p>jack.william.freeman@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
