<mat-card>
  <mat-card-title>Monster Attacks</mat-card-title>
  <mat-card-subtitle>Control your monsters attacks here</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-table dense [dataSource]="dashboardMonsters" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let monster">
          <img
            src="{{ monster.image_url }}"
            style="width: 100px; height: 100px;"
          />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let monster">
          {{ monster.name }} {{ monster.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="advantage">
        <mat-header-cell *matHeaderCellDef>Attack Mode</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-radio-group
            aria-label="Select an option"
            [(ngModel)]="row.advantageState"
          >
            <mat-radio-button style="padding-left: 7px;" value="advantage"
              >Advantage</mat-radio-button
            >
            <mat-radio-button style="padding-left: 7px;" value="normal"
              >Normal</mat-radio-button
            >
            <mat-radio-button style="padding-left: 7px;" value="disadvantage"
              >Disadvantage</mat-radio-button
            >
          </mat-radio-group>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dice_Roll">
        <mat-header-cell *matHeaderCellDef>Dice Roll</mat-header-cell>
        <mat-cell *matCellDef="let monster" style="font-size: large;">
          {{ monster.dice_Roll }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="critical">
        <mat-header-cell *matHeaderCellDef>Critical?</mat-header-cell>
        <mat-cell
          mat-cell
          *matCellDef="let monster"
          [ngClass]="monster.critical ? 'critical' : 'normal'"
        >
          {{ monster.critical ? "Critical" : "" }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field>
      <mat-label>To Hit Modifier</mat-label>
      <input matInput [(ngModel)]="toHit" placeholder="Enter to hit modifier" />
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="rollAttacksForMonsters()">
      roll attacks
    </button></mat-card-actions
  >
</mat-card>
