.mat-form-field {
  font-size: 14px;
}
.row {
  display: flex;
  justify-content: center;
}
.tableSelect {
  flex: 20%;
  justify-content: center;
}
.viewDetail {
  flex: 50%;
  justify-content: center;
}
.mat-form-field {
  flex: 0 0 100%;
}
