<div class="row">
  <div class="tableSelect">
    <mat-card>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
      </mat-form-field>
      <br />
      <mat-table
        matSort
        (matSortChange)="sortData($event)"
        [dataSource]="filteredMonsters"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="name">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Name</mat-header-cell
          >
          <mat-cell *matCellDef="let monster" (click)="onSelect(monster)">
            {{ monster.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cr">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef
            >CR</mat-header-cell
          >
          <mat-cell *matCellDef="let monster" (click)="onSelect(monster)">
            {{ monster.CRString }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="summon">
          <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
          <ng-container *matCellDef="let monster" (click)="onSelect(monster)">
            <mat-cell mat-cell>
              <button
                mat-raised-button
                color="primary"
                (click)="openDialog()"
                *ngIf="selectedMonster?.name === monster?.name"
              >
                Summon!
              </button>
            </mat-cell>
          </ng-container>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row
          *matRowDef="let myRowData; columns: columnsToDisplay"
        ></mat-row>
      </mat-table>
    </mat-card>
  </div>
  <div class="viewDetail">
    <app-monster-view [monster]="selectedMonster"></app-monster-view>
  </div>
</div>
