<h1 mat-dialog-title>Summon Time!</h1>
<div mat-dialog-content>
  <p>How many do you want to summon?</p>
  <mat-form-field>
    <mat-label>Number to Summon:</mat-label>
    <input matInput [(ngModel)]="data.number" />
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>How much temp HP do they get?</p>
  <mat-form-field>
    <mat-label>Temp HP:</mat-label>
    <input matInput [(ngModel)]="data.tempHp" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    mat-button
    routerLink="/dashboard/{{ data?.name }}/{{ data.number }}/{{ data.tempHp }}"
    cdkFocusInitial
    [disabled]="!this.data.tempHp || !this.data.number"
    [mat-dialog-close]
  >
    Ok
  </button>
</div>
