<mat-card style="max-width: fit-content;">
  <div class="contentContainer">
    <div>
      <img *ngIf="monster" class="monsterPic" src="{{ monster?.img_url }}" />
      <div *ngIf="!monster" class="monsterPicPlaceholder">
        <div class="monsterPicPlaceholderText">
          Select a monster to view its stats
        </div>
      </div>
    </div>
    <div
      style="
        width: 400px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
      "
    >
      <div class="name">{{ monster?.name }}</div>
      <div class="description">{{ monster?.meta }}</div>

      <div class="gradient"></div>

      <div class="red">
        <div>
          <span class="bold red">Armor Class</span
          ><span> {{ monster?.Armor_Class }}</span>
        </div>
        <div>
          <span class="bold red">Hit Points</span
          ><span> {{ monster?.Hit_Points }}</span>
        </div>
        <div>
          <span class="bold red">Speed</span><span> {{ monster?.Speed }}</span>
        </div>
      </div>

      <div class="gradient"></div>

      <table>
        <tr>
          <th>STR</th>
          <th>DEX</th>
          <th>CON</th>
          <th>INT</th>
          <th>WIS</th>
          <th>CHA</th>
        </tr>
        <tr>
          <td>{{ monster?.STR }} {{ monster?.STR_mod }}</td>
          <td>{{ monster?.DEX }} {{ monster?.DEX_mod }}</td>
          <td>{{ monster?.CON }} {{ monster?.CON_mod }}</td>
          <td>{{ monster?.INT }} {{ monster?.INT_mod }}</td>
          <td>{{ monster?.WIS }} {{ monster?.WIS_mod }}</td>
          <td>{{ monster?.CHA }} {{ monster?.CHA_mod }}</td>
        </tr>
      </table>

      <div class="gradient"></div>

      <div>
        <span class="bold">Senses</span><span> {{ monster?.Senses }}</span>
      </div>
      <div>
        <span *ngIf="monster?.Damage_Resistances" class="bold"
          >Damage Resistences</span
        ><span> {{ monster?.Damage_Resistances }}</span>
      </div>
      <div>
        <span *ngIf="monster?.Damage_Immunities" class="bold"
          >Damage Immunities</span
        ><span> {{ monster?.Damage_Immunities }}</span>
      </div>
      <div>
        <span *ngIf="monster?.Condition_Immunities" class="bold"
          >Condition Immunities</span
        ><span> {{ monster?.Condition_Immunities }}</span>
      </div>
      <div>
        <span *ngIf="monster?.Damage_Vulnerabilities" class="bold"
          >Damage Vulnerabilities</span
        ><span> {{ monster?.Damage_Vulnerabilities }}</span>
      </div>
      <div>
        <span *ngIf="monster?.Languages" class="bold">Languages</span
        ><span> {{ monster?.Languages }}</span>
      </div>
      <div>
        <span class="bold">Challenge</span
        ><span> {{ monster?.Challenge }}</span>
      </div>
      <div class="gradient"></div>
      <div *ngIf="monster?.Traits">
        <div class="actions red">Traits</div>

        <div class="hr"></div>

        <span class="attack black" innerHtml="{{ monster?.Traits }}"></span>
      </div>

      <div class="actions red">Actions</div>

      <div class="hr"></div>

      <span class="attack black" innerHtml="{{ monster?.Actions }}"></span>
    </div>
  </div>
</mat-card>
