<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Jacks Shitty Summon Manager</h1>
    <span></span>
    <div style="align-items: flex-end;">
      <a mat-button [routerLink]="'/'"> Summon Monsters </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav>
    <mat-nav-list style="min-width: 160px;">
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/'">
        Home
      </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/about'">
        About
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content> <router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
