<mat-card>
  <mat-card-title>Monster Health</mat-card-title>
  <mat-card-subtitle>Select Monster to manage health</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <table mat-table [dataSource]="dashboardMonsters" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let monster" (click)="onSelect(monster)">
          {{ monster.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let monster" (click)="onSelect(monster)">
          {{ monster.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="temp_HP">
        <th mat-header-cell *matHeaderCellDef>Temporary Hit Points</th>
        <td mat-cell *matCellDef="let monster" (click)="onSelect(monster)">
          {{ monster.temp_HP }}
        </td>
      </ng-container>

      <ng-container matColumnDef="remaining_HP">
        <th mat-header-cell *matHeaderCellDef>Remaining Hit Points</th>
        <td mat-cell *matCellDef="let monster" (click)="onSelect(monster)">
          {{ monster.remaining_HP }}
        </td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef>Manage</th>
        <ng-container *matCellDef="let monster">
          <td mat-cell *ngIf="monster?.id == this.selectedMonster?.id">
            <button
              mat-raised-button
              color="primary"
              (click)="openDialog()"
              *ngIf="selectedMonster"
            >
              Manage
            </button>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <div>selected monster is: {{ selectedMonster?.id }}</div>
  </mat-card-actions>
</mat-card>
