<mat-card>
  <mat-card-title>Monster Health</mat-card-title>
  <mat-card-subtitle>Select Monster to manage health</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-table [dataSource]="dashboardMonsters" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let monster">
          <img
            src="{{ monster.image_url }}"
            style="width: 100px; height: 100px;"
          />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let monster">
          {{ monster.name }} {{ monster.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="temp_HP">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Temporary Hit Points</mat-header-cell
        >
        <mat-cell
          mat-cell
          *matCellDef="let monster"
          (click)="onSelect(monster)"
        >
          {{ monster.temp_HP }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remaining_HP">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Remaining Hit Points</mat-header-cell
        >
        <mat-cell
          mat-cell
          *matCellDef="let monster"
          (click)="onSelect(monster)"
          style="font-size: large;"
        >
          {{ monster.remaining_HP }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="manage">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Manage</mat-header-cell
        >
        <ng-container *matCellDef="let monster">
          <mat-cell mat-cell (click)="onSelect(monster)">
            <button mat-raised-button color="primary" (click)="openDialog()">
              Manage
            </button>
          </mat-cell>
        </ng-container>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="accent"
      (click)="addMightySummonHp()"
      [disabled]="mightySummons"
    >
      Mighty Summons?
    </button>
  </mat-card-actions>
</mat-card>
