<div style="padding: 5px;">
  <button mat-raised-button color="accent" (click)="goBack()">go back</button>
</div>
<div style="padding: 5px;">
  <button mat-raised-button color="accent" (click)="rollAttacksForMonsters()">
    roll attacks
  </button>
</div>
<div style="padding: 5px;">
  <span style="padding-right: 5px;">Set Temp HP of Summons</span>
  <input [(ngModel)]="tempHp" (change)="updateMonstersWithTempHp()" />
</div>

<app-monster-attack-dashboard
  [dashboardMonsters]="dashboardMonsters"
></app-monster-attack-dashboard>
<br />
<app-monster-hp-dashboard
  [dashboardMonsters]="dashboardMonsters"
></app-monster-hp-dashboard>
<br />
<app-monster-view [monster]="monster"></app-monster-view>
